body{
  background-color: skyblue;
}

h1{
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#quiz{
  margin-left: 550px;
  margin-top: 75px;
  font-size: 25px;
  font-family: monospace;
  line-height: 40px;
  word-spacing: 5px;
}

#submit{
  margin-left: 600px;
  margin-top: 100px;
  font-size: 25px;
  background-color: violet;
  color: black;
  border-color: black;
  border-radius: 7px;
}
